<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    {{> header}}

    <div class="create-blog-post-container">
        <div class="container">
            <form action="/blog" method="POST" class="container">
                <input type="text" name="title" placeholder="enter post title">
                <textarea name="body" name="body" placeholder="enter your post"></textarea>
                <button type="submit">POST</button>
            </form>
        </div>
    </div>

    {{> footer}}
</body>
</html>