<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    {{> header}}
    <div class="header-content"></div>

    <div class="featured-posts-home">
        <div class="card">
            <a href=""><h1>this is a title</h1></a>
            <p>
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
            </p>
        </div>
        <div class="card">
            <a href=""><h1>this is a title</h1></a>
            <p>
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
            </p>
        </div>
        <div class="card">
            <a href=""><h1>this is a title</h1></a>
            <p>
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
            </p>
        </div>
        <div class="card">
            <a href=""><h1>this is a title</h1></a>
            <p>
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
                this is body body body sdgsagasasgsd sdagsdgsgsag
            </p>
        </div>
    </div>

    {{> footer}}
</body>
</html>